@model EmployeeVM

@inject ICountryRep country
@inject ICityRep city
@inject IDistrictRep district

<div asp-validation-summary="All" class="text-danger font-bold"></div>

<label for="Name">@ProjectResources["Name"]</label>
<input type="text" asp-for="Name" class="form-control" />
<span asp-validation-for="Name" class="text-danger"></span>
<br />

<label for="Email">@ProjectResources["Email"]</label>
<input type="text" asp-for="Email" class="form-control" />
<span asp-validation-for="Email" class="text-danger"></span>
<br />

<label for="Address">@ProjectResources["Address"]</label>
<input type="text" asp-for="Address" class="form-control" />
<span asp-validation-for="Address" class="text-danger"></span>
<br />

<label for="Salary">@ProjectResources["Salary"]</label>
<input type="number" asp-for="Salary" class="form-control" />
<span asp-validation-for="Salary" class="text-danger"></span>
<br />

<label for="Salary">@ProjectResources["HireDate"]</label>
<input type="date" asp-for="HireDate" class="form-control" />
<span asp-validation-for="HireDate" class="text-danger"></span>
<br />

<label for="Notes">@ProjectResources["Notes"]</label>
<textarea rows="4" type="text" asp-for="Notes" class="form-control"></textarea>
<span asp-validation-for="Notes" class="text-danger"></span>
<br />


<label for="DepartmentId">@ProjectResources["Department"]</label>
<select asp-for="DepartmentId" asp-items="(SelectList)ViewBag.DepartmentsList">
    <option>Choose Department</option>
</select>
<span asp-validation-for="DepartmentId" class="text-danger"></span>
<br />

<br />
<label for="CountryList">@ProjectResources["Country"]</label>
<select id="CountryList">
    <option>@ProjectResources["ChooseCountry"]</option>
    @foreach (var item in await country.GetAsync())
    {
    <option value="@item.Id">@item.Name</option>
    }
</select>

<br />
<br />
<label for="CityList">@ProjectResources["City"]</label>
<select id="CityList">
    <option>@ProjectResources["ChooseCity"]</option>
    @foreach (var item in await city.GetAsync())
    {
    <option value="@item.Id">@item.Name</option>
    }
</select>

<br />
<br />
<label for="DistrictId">@ProjectResources["District"]</label>
<select id="DistrictId" asp-for="DistrictId">
    <option>@ProjectResources["ChooseDistrict"]</option>
    @foreach (var item in await district.GetAsync())
    {
    <option value="@item.Id">@item.Name</option>
    }
</select>
<span asp-validation-for="DistrictId" class="text-danger"></span>
<br />
<br />

<div class="demo-checkbox">
    <input type="checkbox" asp-for="IsActive" checked />
    <label asp-for="IsActive">@ProjectResources["Active"]</label>
    <span asp-validation-for="IsActive" class="text-danger"></span>
</div>


<center>
    <input type="submit" class="btn btn-primary text-center" value=''@ProjectResources["Save"]'' />
    <input type="reset" class="btn btn-danger text-center" value="@ProjectResources[" Cancel"]" />
</center>


@section JqueryValidation{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

