@model EmployeeVM
<div>
    <h4>@ProjectResources["Employee"]</h4>
    <hr />
    <label for="Name">@ProjectResources["Name"]</label>
    <input type="text" asp-for="Name" class="form-control" readonly />
    <br />

    <label for="Salary">@ProjectResources["Salary"]</label>
    <input type="text" asp-for="Salary" class="form-control" readonly />
    <br />

    <label for="HireDate">@ProjectResources["HireDate"]</label>
    <input type="text" asp-for="HireDate" class="form-control" readonly />
    <br />


    <label for="Email">@ProjectResources["Email"]</label>
    <input type="text" asp-for="Email" class="form-control" readonly />
    <br />


    <label for="Address">@ProjectResources["Address"]</label>
    <input type="text" asp-for="Address" class="form-control" readonly />
    <br />


    <label for="Notes">@ProjectResources["Notes"]</label>
    <textarea rows="4" asp-for="Notes" class="form-control" readonly></textarea>
    <br />


    <label for="Department">@ProjectResources["Department"]</label>
    <select asp-for="DepartmentId" asp-items="(SelectList)ViewBag.DepartmentsList" disabled>
        <option>@ProjectResources["ChooseDepartment"]</option>
    </select>
    <br />
    <br />
</div>
